$text: #24062d;
$background: #fdfbfe;
$primary: #ea8a66;
$secondary: #dbf9d2;
$accent: #1fade0;

@mixin flex($align-items, $justify-content, $flex-direction, $gap) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  gap: $gap;
  @media screen and (max-width: 768px) {
    gap: $gap / 2;
  }
}

@mixin fontsize($size) {
  font-size: $size;
  @media screen and (max-width: 768px) {
    font-size: $size / 1.5;
  }
  @media screen and (max-width: 480px) {
    font-size: $size / 2;
  }
}
